* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  height: 80px;
  box-shadow: 2px 2px 2px 1px #0003;
}

.logo {
  width: 80px;
}

.nav-btn-list {
  display: flex;
  list-style-type: none;
}

.nav-btn {
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: 0px;
  font-weight: bolder;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.nav-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.nav-btn:active {
  transform: scale(0.95);
}

.container {
  min-height: 475px;
}

.restaurant-container {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

.shimmer-body {
  width: 255px;
  height: 200px;
  background-color: lightgray;
  margin: 5px;
}

.search-container {
  display: flex;
  justify-content: center;
  background-color: #f09819;
  height: 40px;
  align-items: center;
  margin: auto;
}

.search-container > input {
  margin-right: 10px;
  height: 25px;
  flex-basis: 350px;
  appearance: none;
  background-color: #eeeeee;
  border: 0px inset rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

.footer {
  margin: 5px;
  width: 100%;
  background-color: #f09819;
  padding: 5px;
  text-align: center;
}

.card-component {
  width: 257px;
  margin: 5px;
}

.card-component:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-component > img {
  width: 257px;
  height: 165px;
}

.card-component > h3 {
  margin: 1px;
}

.card-component > h5 {
  margin: 1px;
}

.input-textbox {
  width: 400px;
}

.input-button {
  width: 100px;
}

.restaurant-menu {
  display: flex;
}
